header {
  height: 60px;
  background-color: #2d2d2d;
  width: 100%;
  position: sticky;
  text-align: left;
  top: 0;
  /*border-bottom: 5px solid white;*/
}

p {
  color: white;
}

.asos-logo img {
  /*max-width: 100%;*/
  max-height: 100%;
}
